<div class="container px-4 text-center">
    <div class="row gx-5 align-items-center">
        <div class="col">
            <div class="p-3">
                <button routerLink="/create-invoice" routerLinkActive="router-link-active" type="button"
                    class="btn btn-primary btn-lg butto">stworz fakture</button>
            </div>
        </div>
        <div class="col">
            <div class="p-3">
                <button routerLink="/invoice-list" routerLinkActive="router-link-active" type="button"
                    class="btn btn-primary btn-lg butto">zobacz wszystkie fakutry</button>
            </div>
        </div>
    </div>
</div>