<div class="container px-4 text-center">
    <div class="row gx-5 align-items-center">
        <div class="col">
            <div class="p-3">
                <button routerLink="/login" routerLinkActive="router-link-active" class="btn btn-primary btn-lg butto">login</button>
            </div>
        </div>
        <div class="col">
            <div class="p-3">
                <button routerLink="/register" routerLinkActive="router-link-active" class="btn btn-primary btn-lg butto">register</button>
            </div>
        </div>
        <div class="col">
            <div class="p-3">
                <button routerLink="/home" routerLinkActive="router-link-active" class="btn btn-primary btn-lg butto">go to home</button>
            </div>
        </div>