<p>dynamic-invoice-form works!</p>

<div [formGroup]="form">
    <p>single question </p>
    <label [attr.for]="part.key">{{part.label}}</label>
    <div [ngSwitch]="part.htmlControlType">
        <input *ngSwitchCase="'textbox'" [formControlName]="part.key" [id]="part.key" [type]="part.htmlType">
        <select [id]="part.key" *ngSwitchCase="'dropdown'" [formControlName]="part.key">
            <option *ngFor="let option of part.options" [value]="option.key">{{option.value}}</option>
        </select>
    </div>]
</div>
